<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/account.css">
    <script src="https://cheesedevelopment.com/file/util.js"></script>
    <title>Login</title>
</head>
<body>
    <div class="content">
        <div class="login-side">
            <h1>Login</h1>
            <form action="/chat/login" method="POST">
                <input type="text" class="info-input" id="username" name="username" placeholder="Username" value="TGennaro">
                <input type="password" class="info-input" id="password" name="password" placeholder="Password" value="Test123">
                <a href="">Forgot your password?</a>
                <button type="submit" class="account-button login-button" id="login">Log in</button>
            </form>
        </div>
        <div class="register-side">
            <h2 class="register-text">Don't have an account?</h2>
            <a href="/chat/register">
                <button class="account-button register-button">Sign up</button>
            </a>
        </div>
    </div>
</body>
</html>