@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --dark-blue: #232537;
    --dark-blue-hover: #424560;
    --dark-blue-comp: #626685;
    --mid-blue: #2D3043;
    --mid-blue-hover: #323652;
    --mid-blue-comp: #4a527d;
}

body {
    width: 100vw;
    height: 100vh;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
}

.side-nav {
    width: 280px;
    height: 100vh;
    padding: 0.75rem;
    background: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-button {
    width: 100%;
    padding: 0.4rem 0.8rem;
    background: none;
    color: white;
    border: none;
    border-radius: 4px;
    outline: none;
    display: flex;
    justify-content: space-between;
    margin: 0.25rem 0;
    font-size: 1rem;
    cursor: pointer;
}

.nav-button:not(.selected-nav):hover {
    background: var(--dark-blue-hover);
}

.selected-nav {
    background: var(--dark-blue-comp);
}

.side-nav hr {
    margin: 1.25rem 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    border: none;
}


.content-container {
    width: 100%;
    height: 100vh;
}

.chat-rooms {
    width: 300px;
    height: 100vh;
    background: var(--mid-blue);
}

.chat-room-node {
    padding: 1rem;
    color: white;
    display: flex;
    cursor: pointer;
}

.chat-room-node:not(.selected-room):hover {
    background: var(--mid-blue-hover);
}

.chat-room-node:not(.selected-room):hover .chat-room-message-time {
    background: linear-gradient(to left, var(--mid-blue-hover) 70%, #00000000);
}

.selected-room {
    background: var(--mid-blue-comp);
}

.selected-room .chat-room-message-time {
    background: linear-gradient(to left, var(--mid-blue-comp) 70%, #00000000);
}

.chat-room-node > div {
    width: 100%;
    padding: 0 10px;
    pointer-events: none;
}

.chat-room-node .material-icons {
    font-size: 28px;
    margin: auto;
    pointer-events: none;
}

.chat-room-node span {
    display: block;
    margin: 4px 0;
}

.chat-room-recent-item {
    position: relative;
    font-size: 0.7rem;
    opacity: 65%;
}

.chat-room-recent-item span {
    margin: 0;
}

.chat-room-recent-message {
    white-space: nowrap;
}

.chat-room-message-time {
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    background: linear-gradient(to left, var(--mid-blue) 70%, #00000000);
}